VITE_MAINNET_ALGOD_TOKEN=
VITE_MAINNET_ALGOD_SERVER=https://mainnet-api.algonode.cloud
VITE_MAINNET_ALGOD_PORT=
VITE_MAINNET_BLOCK_EXPLORER=https://allo.info
VITE_TESTNET_ALGOD_TOKEN=
VITE_TESTNET_ALGOD_SERVER=https://testnet-api.algonode.cloud
VITE_TESTNET_ALGOD_PORT=
VITE_TESTNET_BLOCK_EXPLORER=https://app.dappflow.org
VITE_BETANET_ALGOD_TOKEN=
VITE_BETANET_ALGOD_SERVER=https://betanet-api.algonode.cloud
VITE_BETANET_ALGOD_PORT=
VITE_BETANET_BLOCK_EXPLORER=https://app.dappflow.org
VITE_LOCALNET_ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
VITE_LOCALNET_ALGOD_SERVER=http://localhost
VITE_LOCALNET_ALGOD_PORT=4001
VITE_LOCALNET_BLOCK_EXPLORER=https://app.dappflow.org
VITE_WALLETCONNECT_PROJECT_ID=ddb0a94acaf0e2b1b33ba176d4778696
VITE_WALLETCONNECT_PROJECT_NAME="Solid Algo Wallets Example"
VITE_WALLETCONNECT_PROJECT_DESCRIPTION="Example SolidJS App Client with Algorand Wallet Integration"
VITE_WALLETCONNECT_PROJECT_URL=https://github.com/SilentRhetoric/solid-algo-wallets-example
VITE_WALLETCONNECT_PROJECT_ICON=https://www.solidjs.com/img/logo/without-wordmark/logo.png
