.App {
  background-color: #dddddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  height: 48px;
  width: 192px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 2px;
}
